body{
    margin-left: 50px;
    margin-right: 50px;
}
.logo{
    margin-top: 10px;
    width: 100px;
 }
.bootstrap-wrapper{
    height: auto;
}
#maintop{
    height: 500px;
}
#top{
    height: 50px;
}
.footer{
    margin-top: 150px;
}